.element-hidden {
	display: none;
}

/*.element-unavailable*/
/*{*/
/*	color: #b8b8b8;*/
/*}*/



.disabled-btn {
	pointer-events: none; /* делаем ссылку некликабельной */
	cursor: default; /* устанавливаем курсор в виде стрелки */
}
.disabled
{
	display: none;
}
.worker__quote-quote
{
	width: 3rem;
}
/*.filter__body-top > *:nth-child(n + 9) {*/
/*	position: relative;*/
/*	z-index: -1;*/
/*	opacity: 0;*/
/*	margin-top: 3rem;*/
/*	transition: opacity 0.3s ease;*/
/*}*/

@media only all and (max-width: 48em) {
	.slider_btn_main {
		margin-top: 20%;
	}
}